body{
    background-color: #96aabb;
}
h1 {
    font-family:monospace;
    background-color:#4a7db5;
    color:#a8a5ac;
    text-align:center;
}
ul {
    margin-block-start: 23px;
    margin-block-end: 23px;
    text-align: center;
}
nav {
    text-align: center;
}

nav ul li {
width: 100%;
display: inline;
list-style: none; 
    }

   .navs {
        position: relative;
        font-family: monospace;
        background-color:#4a7db5;
        text-align:center;
        color: #a8a5ac;
        padding: 20px;
        text-decoration: none;
    }
.navs:hover {
        position: relative;
        font-family: monospace;
        background-color:#28507d;
        text-align:center;
        color: #a8a5ac;
        padding: 20px;
        text-decoration: none;
    }
 p{
margin-top: 20px;
font-family:monospace;
color:white;
font-size: 150%;
text-align: center;
}

li{
    display:block;
    list-style: none;
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-size: 125%;
}
h2{
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    color: #660405;
    background-color: #c1c1c1;
}
